* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: unset;
    color: unset;
}

.text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
}

.wrap-prop {
    min-width: 335px;
    max-width: 1470px;
    padding: 0 20px;
    margin-inline: auto;
}

